
<%= javascript_include_tag "loop" %>
<%= javascript_include_tag "tictactoc" %> 


<canvas id="exercice" width="50" height="150" style="border:1px solid #000000;"></canvas>
<div id="message"></div>	
	


